:root {
    --primary: #222536;
    --bg: #191c25;
    --text: #037ce6;
  }
  
  * {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Poppins", Sans-Serif;
    background-color: var(--bg);
  }
  
  .container {
    min-height: 100vh;
  }
  /*Header Section Start*/
  header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    background-color: var(--primary);
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    z-index: 9999;
  }
  
  .logo {
    font-size: 25px;
    color: white;
    font-weight: 600;
  }
  .logo .badge{
    font-size: 10px;
    color: white;
    font-weight: 600;
  }
  
  .hamburger {
    display: none;
  }
  
  /* navbar */
  .navbar {
    z-index: 9999;
  }
  
  .navbar ul {
    display: flex;
  }
  
  .navbar ul li a {
    display: block;
    color: white;
    font-size: 15px;
    padding: 3px 20px;
    transition: 0.3s;
    margin: 0 3px;
    border-radius: 10px;
  }
  
  .navbar ul li a:hover {
    color: white;
    background-color: var(--text);
  }
  
  .navbar ul li a.active {
    color: white;
    font-weight: 600;
    background-color: var(--text);
  }
  
  .navbar ul li .dropdown {
    display: none;
  }
  
  .navbar ul li:hover .dropdown {
    display: block;
    background: transparent;
    position: absolute;
    padding: 10px;
  }
  
  .navbar ul li:hover .dropdown li {
    display: block;
  }
  
  .navbar ul li:hover .dropdown li a {
    padding: 4px;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .navbar ul li:hover .dropdown li a:hover {
    background: #343b66;
    box-shadow: inset 0px 0px 5px #222536;
  }
  /*Header End*/
  /* badge */
  .badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #6c757d;
  }
  .badge.primary {
    background-color: #ab2dff;
  }
  .badge.secondary {
    background-color: #04ff26;
  }
  .badge.here {
    background-color: #006b79;
  }
  /* end badge */
  /*Hero Section start*/
.hero {
    margin-top: 10rem;
  }
  .hero .content {
    padding: 2rem;
    text-align: center;
    color: white;
  }
  .hero .content h1 {
    font-size: 25px;
    font-weight: 600;
  }
  .hero .content span {
    color: var(--text);
  }
  .hero .content p {
    font-size: 15px;
    font-weight: 200;
  }
  /*Hero Section End*/